#fora {
    background: url(imagens/wallpaper004.jpg) no-repeat;
    height: 98vh;
    position: relative;

}

#dentro {
    height:600px;
    width: 400px;
    position: absolute;
    background-image: url('imagens/mahdi-soheili-3wxiKqC9KSA-unsplash.jpg');
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#logo {
    border-radius: 100px;
    background-position: top center;
    padding: 20px;
    margin-left: 120px;

}
#titulo {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
   
    
}
.corpo {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    
    
    
}
#entrar {
    background: blue center center;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 10px;
    margin: 10px 160px;
    font-size: 20px;
    
    
}
#esqueci {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 10px;
    margin-left: 130px;
    
    
}
#cadastro {    
    color: rgb(255, 238, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 150px;
    
    
    
}
